@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"),
    url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  background: #eff0f4;
  color: #8b8e94;
  line-height: 28px;
  font-size: 15px;
  font-family: "Raleway", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181920;
  line-height: 1.5;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 36px;
}

h5,
h6 {
  font-size: 14px;
}

p,
ul,
ol {
  margin-bottom: 30px;
}

a {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #6a41ed;
}

a:hover,
a:focus,
a:active {
  color: #582aeb;
  text-decoration: none;
}

.hero-text-heading,
.app-hero h1,
.flexslider .app-heading {
  font-size: 52px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 64px;
  color: white;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .hero-text-heading,
  .app-hero h1,
  .flexslider .app-heading {
    font-size: 40px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .hero-text-heading,
  .app-hero h1,
  .flexslider .app-heading {
    font-size: 30px;
  }
}

.hero-text-subheading,
.app-hero p,
.flexslider .app-subheading {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.hero-text-subheading:last-child,
.app-hero p:last-child,
.flexslider .app-subheading:last-child {
  margin-bottom: 0;
}

.page-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background: #ffffff;
}

@media screen and (max-width: 1500px) {
  .page-wrapper {
    max-width: 1200px;
  }
  .page-wrapper .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .page-wrapper {
    max-width: 960px;
  }
  .page-wrapper .container {
    max-width: 900px;
  }
}

.app-sidebar-inner {
  background: #ffffff;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.app-side-menu {
  padding: 0;
  margin: 0;
}

.app-side-menu li {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  font-size: 16px;
}

.app-side-menu li.active {
  color: #000000;
}

.app-side-menu li.active a {
  color: #000000;
}

.header-top {
  margin-top: 0;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  .header-top {
    display: none;
  }
  .header-top.active {
    display: block;
  }
}

.header-top > .container {
  border-bottom: 1px solid #f2f2f2;
}

.top-quick-contact-info {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
}

.top-quick-contact-info span {
  display: inline-block;
  margin-right: 20px;
}

.top-quick-contact-info span i {
  display: inline-block;
  margin-right: 10px;
  color: #49d292;
}

.top-social {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .top-social {
    text-align: left;
  }
}

.top-social ul {
  padding: 0;
  margin: 5px 0 0 0;
}

.top-social ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.top-social ul li a {
  display: inline-block;
  padding: 4px;
  color: #49d292;
}

.top-social ul li:last-child a {
  padding-right: 0;
}

.app-search-icon {
  margin-left: 30px;
}
/* navbar  */

.navbar-nav {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    background: white;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.navbar-nav .btn-more {
  position: absolute;
  right: 80px;
  top: 13px;
  z-index: 100;
}

@media screen and (max-width: 480px) {
  .navbar-nav .btn-more {
    right: 70px;
  }
}

.navbar-nav .btn-more a {
  color: #b3b2b2;
}

.navbar-nav .btn-more a:hover {
  color: #1a1919;
}

.navbar-nav .navbar-toggle:focus,
.navbar-nav .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-nav .navbar-toggle {
  border: none;
}

.navbar-nav .navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.navbar-nav .navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-nav .navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-nav .navbar-toggle span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-nav .navbar-toggle.collapsed span:nth-child(2),
.navbar-nav .navbar-toggle.collapsed span:nth-child(4) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.navbar-nav .navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.navbar-nav .parent-nav-link-padding,
.navbar-nav .navbar-brand,
.navbar-nav .navbar-nav > li > a {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .navbar-nav .parent-nav-link-padding,
  .navbar-nav .navbar-brand,
  .navbar-nav .navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.navbar-nav .dropdown-header {
  color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase;
}

.navbar-nav .dropdown > a {
  padding-right: 10px !important;
  position: relative;
  display: block;
}

@media screen and (max-width: 480px) {
  .navbar-nav .dropdown > a {
    display: block;
    padding-right: 0px;
  }
}

.navbar-nav .dropdown > a:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -10px;
  margin-top: -11px;
  content: "\e924";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  .navbar-nav .dropdown > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.navbar-nav .dropdown > a:hover:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navbar-nav .dropdown.open > a,
.navbar-nav .dropdown:hover > a,
.navbar-nav .dropdown:focus > a,
.navbar-nav .dropdown:active > a {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.navbar-nav .dropdown.open > a:before,
.navbar-nav .dropdown:hover > a:before,
.navbar-nav .dropdown:focus > a:before,
.navbar-nav .dropdown:active > a:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navbar-nav .dropdown > .dropdown-menu > li a {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .dropdown > .dropdown-menu > li a:hover {
  border-top: none;
  background: #ffffff;
  color: #49d292;
}

.navbar-nav .dropdown > .dropdown-menu > li.open > a,
.navbar-nav .dropdown > .dropdown-menu > li:hover > a,
.navbar-nav .dropdown > .dropdown-menu > li:focus > a,
.navbar-nav .dropdown > .dropdown-menu > li:active > a {
  border-top: none;
  color: #49d292;
  background: #ffffff;
}

.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu.open > a,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:active > a {
  border-top: none;
}

.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu.open > a:before,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a:before,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a:before,
.navbar-nav .dropdown > .dropdown-menu > li.dropdown-submenu:active > a:before {
  color: #000000;
}

.navbar-nav .dropdown > .dropdown-menu > li.active > a {
  color: #ffffff;
}

.navbar-nav .navbar-right .dropdown-menu {
  right: auto;
}

.navbar-nav .dropdown-menu {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #49d292;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

.navbar-nav .dropdown-menu a {
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    width: 100%;
    padding: 10px 15px;
  }
  .navbar-nav .dropdown-menu a {
    color: #ffffff;
  }
}

.navbar-nav .navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 30px;
  text-transform: uppercase;
  background: url(../img/logo.png) no-repeat left 100%;
  top: 24px;
  position: relative;
  width: 260px;
  height: 43px;
  text-indent: -999999px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 768px) {
  .navbar-nav .navbar-brand {
    top: 5px !important;
    background-position: left 100%;
  }
}

@media screen and (max-width: 480px) {
  .navbar-nav .navbar-brand {
    top: 6px !important;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .navbar-nav .navbar-brand {
    position: relative;
    width: 260px;
    height: 43px;
    background: url(../img/logo@2x.png) no-repeat left 100%;
    background-size: cover;
  }
}

.navbar-nav .navbar-nav > li > a {
  color: black;
  font-size: 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar-nav .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.navbar-nav .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-nav .navbar-nav > li > a:hover,
.navbar-nav .navbar-nav > li > a:focus,
.navbar-nav .navbar-nav > li > a:active {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-nav .navbar-nav > li.open > a:hover,
.navbar-nav .navbar-nav > li.open > a:focus,
.navbar-nav .navbar-nav > li.open > a {
  background: none;
}

.navbar-nav .navbar-nav > li.active > a {
  background: none !important;
  color: #49d292 !important;
}

@media screen and (max-width: 768px) {
  .navbar-nav .navbar-nav > li.active > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.navbar-nav .navbar-nav > li.active > a:active,
.navbar-nav .navbar-nav > li.active > a:focus,
.navbar-nav .navbar-nav > li.active > a:hover {
  background: none;
}

.navbar-nav .navbar-nav > li > .dropdown-menu:before {
  border: 1px solid #49d292;
  content: "";
  position: absolute;
  top: -20px;
  left: 40px;
  border-color: rgba(73, 210, 146, 0);
  border-bottom-color: #49d292;
  border-width: 10px;
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .navbar-nav .navbar-nav > li > .dropdown-menu:before {
    display: none;
  }
}

.navbar-nav .navbar-nav .dropdown li.active > a {
  background: none;
}

.navbar-nav .dropdown-submenu {
  position: relative;
}

.navbar-nav .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.navbar-nav .dropdown-submenu > a {
  display: block;
}

.navbar-nav .dropdown-submenu > a:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  margin-top: -11px;
  content: "\e926";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  .navbar-nav .dropdown-submenu > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.navbar-nav .dropdown-submenu > a:hover:before {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
  .navbar-nav .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.navbar-nav.scrolled {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
}

.navbar-nav.scrolled .parent-nav-link-padding,
.navbar-nav.scrolled .navbar-brand,
.navbar-nav.scrolled .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav.scrolled .navbar-brand {
  top: 10px;
  background-position: left 100%;
}

.navbar-nav.scrolled .dropdown > a:before {
  color: rgba(0, 0, 0, 0.4);
}

.navbar-nav.scrolled .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-nav.scrolled .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-nav.scrolled .navbar-nav > li.active > a {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .navbar-nav.scrolled .navbar-nav > li.active > a {
    color: black !important;
  }
}
.container-fluid .navbar-brand {
  margin-left: 15px;
}

.container-fluid .dropdown-submenu {
  position: relative;
}

.container-fluid .dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -1px;
}

@media screen and (max-width: 480px) {
  .container-fluid .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.app-hero {
  background-size: cover;
  background-position: center center;
}

.app-hero > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.app-hero > .container {
  position: relative;
  z-index: 2;
}

.app-hero .app-hero-text {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .app-hero .app-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.app-hero.app-sm-hero .app-hero-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .app-hero.app-sm-hero .app-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.app-hero.app-xs-hero .app-hero-text {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .app-hero.app-xs-hero .app-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.app-hero .btn {
  position: relative;
  font-size: 18px;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .app-hero .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.app-hero .btn.btn-primary {
  text-transform: uppercase;
  padding: 15px 20px;
}

.app-hero.app-hero-colored {
  background: #6a41ed;
}

.app-hero.app-hero-colored h1 {
  color: white;
}

.app-hero.app-hero-colored p {
  color: rgba(255, 255, 255, 0.8);
}

.app-feature-showcase {
  margin-top: 100px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .app-feature-showcase {
    margin-top: 0px;
  }
}

.app-home-showcase-wrap {
  width: 100%;
}

.app-home-showcase-wrap .app-home-showcase-inner {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
  height: 500px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .app-home-showcase-wrap .app-home-showcase-inner {
    height: 100%;
  }
}

.app-home-showcase-wrap .app-home-showcase-inner .app-chrome {
  background: #dddde0;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.app-home-showcase-wrap .app-home-showcase-inner .app-chrome > div {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -3px;
}

.app-home-showcase-wrap .app-home-showcase-inner .app-chrome > div > span {
  width: 5px;
  height: 5px;
  display: block;
  float: left;
  margin-right: 4px;
  background: #898991;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .app-home-showcase-wrap .app-image-showcase {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .app-home-showcase-wrap .app-image-showcase {
    height: 200px;
  }
}

.app-home-showcase-wrap .app-image-showcase > ul {
  padding: 0;
  margin: 0;
  position: relative;
}

.app-home-showcase-wrap .app-image-showcase > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.app-home-showcase-wrap .app-image-showcase > ul > li img {
  max-width: 100%;
}

.app-home-showcase-wrap .app-image-showcase > ul > li.active {
  opacity: 1;
  visibility: visible;
}

.app-showcase-nav {
  margin-top: 30px;
}

.app-showcase-nav ul {
  padding: 0;
  margin: 0;
}

.app-showcase-nav ul li {
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  list-style: none;
}

.app-showcase-nav ul li > a {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.app-showcase-nav ul li p {
  display: none;
}

.app-showcase-nav ul li.active {
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
}

.app-showcase-nav ul li.active > a {
  color: #6a41ed;
  padding-left: 0px;
  display: block;
}

.app-showcase-nav ul li.active p {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}

.btn {
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn:active {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  line-height: 1.5;
}

.btn.btn-primary {
  border: 1px solid #49d292;
  background: #49d292;
  color: #ffffff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background: #51d497;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
  outline: none;
  border: 1px solid #49d292;
}

.btn.btn-ghost {
  background: transparent;
  border: 1px solid #49d292;
  color: #49d292;
}

.btn.btn-ghost:hover {
  background: #49d292;
  color: #ffffff;
}

.btn.btn-ghost:focus,
.btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #49d292;
  border: 1px solid #49d292;
}

.app-section {
  padding: 7em 0;
  position: relative;
}

.app-section.app-section-sm {
  padding: 3em 0;
}

.app-section.app-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-section.app-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.app-section > .container.app-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-section.app-section-colored {
  background: #6a41ed;
}

.app-section.app-section-colored .section-heading h2 {
  color: white;
}

.app-section.app-section-colored .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.app-section.app-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .app-section {
    padding: 3em 0;
  }
}

.app-section.app-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.app-section.app-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-heading {
  margin-bottom: 70px;
}

.section-heading h1 {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .section-heading h1 {
    font-size: 24px;
    line-height: 24px;
  }
}

.section-heading h2 {
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .section-heading p {
    font-size: 16px;
  }
}

.lead {
  font-size: 18px;
  line-height: 32px;
}

.app-cta {
  padding: 3em 0;
  background: #6a41ed;
  color: #ffffff;
}

.app-cta h2 {
  margin: 12px 0 0 0;
  padding: 0;
  color: #ffffff;
  float: left;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .app-cta h2 {
    float: none;
    width: 100%;
    margin: 0px 0 0 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .app-cta h2 {
    text-align: center;
  }
}

.app-cta .btn {
  float: right;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .app-cta .btn {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
}

.app-cta .btn.btn-ghost {
  width: 200px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .app-cta .btn.btn-ghost {
    width: 100%;
  }
}

.app-cta .btn.btn-ghost:hover {
  background: #ffffff;
  color: #6a41ed;
}

.app-footer {
  padding: 7em 0;
  padding-bottom: 0;
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
}

.app-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.app-footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .app-footer {
    padding: 3em 0;
  }
}

.app-footer .app-copyright {
  padding: 3em 0;
  margin-top: 20px;
  background: #1a1919;
}

@media screen and (max-width: 768px) {
  .app-footer .app-copyright {
    margin-top: 0px;
  }
}

.app-footer .app-copyright p {
  line-height: 20px;
}

.app-footer .app-copyright p .icon {
  position: relative;
  top: 2px;
}

.app-footer .app-copyright p:last-child {
  margin-bottom: 0;
}

.app-footer .app-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.app-footer .app-footer-widget h3 {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.app-footer .app-footer-widget ul {
  margin: 0;
  padding: 0 0 20px 0;
}

.app-footer .app-footer-widget ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.app-footer .app-footer-widget .app-contact-info li {
  display: block;
}

.app-footer .app-footer-widget .app-contact-info li i {
  display: table-cell;
  vertical-align: top;
  width: 40px;
  color: rgba(255, 255, 255, 0.3);
}

.app-footer .app-footer-widget .app-contact-info li span {
  vertical-align: top;
  display: table-cell;
}

.app-footer .app-back-to-top {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .app-footer .app-back-to-top {
    text-align: left;
    margin-top: 30px;
  }
}

.app-search {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 9999;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
}

.app-search.active {
  opacity: 1;
  visibility: visible;
}

.app-search .app-close {
  color: #b3b2b2;
  right: 30px;
  top: 30px;
  position: absolute;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .app-search .app-close {
    right: 20px;
    top: 20px;
  }
}

.app-search .app-close:hover {
  color: #807f7f;
}

.app-search form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
}

@media screen and (max-width: 768px) {
  .app-search form {
    width: 80%;
  }
}

.app-search form input {
  color: #000000;
  width: 100%;
  font-size: 50px;
  height: 100px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px !important;
}

@media screen and (max-width: 768px) {
  .app-search form input {
    font-size: 18px;
    height: 50px;
  }
}

.app-search form input:focus,
.app-search form input:active {
  outline: none;
}

.app-uppercase {
  color: #b3b2b2;
  font-size: 14px;
  margin-bottom: 5px;
}

.app-footer-social {
  padding: 0;
  margin: 0;
}

.app-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.app-footer-social li:first-child > a {
  padding-left: 0;
}

.app-teacher {
  padding: 20px;
  border: 1px solid #e6e5e5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
  top: 0;
  margin-bottom: 20px;
}

.app-teacher .media {
  margin-bottom: 20px;
}

.app-teacher .media img {
  border-radius: 50%;
  width: 90px;
  margin: 0 auto;
}

.app-teacher .text h3 {
  font-size: 20px;
  margin: 0 0 0px 0;
}

.app-teacher .text p {
  margin-bottom: 10px;
}

.app-teacher .app-footer-social li a {
  font-size: 15px;
}

.app-teacher .app-footer-social li.twitter a {
  color: #1da1f2;
}

.app-teacher .app-footer-social li.facebook a {
  color: #3b5998;
}

.app-teacher .app-footer-social li.instagram a {
  color: #e1306c;
}

.app-teacher .app-footer-social li.google-plus a {
  color: #dd4b39;
}

.app-teacher:focus,
.app-teacher:hover {
  top: -10px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.app-counter-wrap {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.app-counter-wrap .app-icon,
.app-counter-wrap .app-text {
  display: table-cell;
  vertical-align: top;
}

.app-counter-wrap .app-icon {
  width: 60px;
}

.app-counter-wrap .app-icon i {
  font-size: 40px;
  color: #49d292;
}

.app-counter-wrap .app-text .app-counter {
  display: block;
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

.app-counter-wrap .app-text .app-counter-label {
  display: block;
  color: #b3b2b2;
  line-height: 20px;
}

.app-overlap {
  margin-top: -150px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .app-overlap {
    margin-top: -100px;
  }
}

.app-flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -200px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .app-flex-block {
    margin-top: -100px;
  }
}

.app-flex-block .app-text {
  width: 30%;
  margin-right: 20px;
  background: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .app-flex-block .app-text {
    width: 100%;
    margin-right: 0;
  }
}

.app-flex-block .app-text h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 20px;
}

.app-flex-block .app-text p:last-child {
  margin-bottom: 0;
}

.app-flex-block .app-image {
  width: 67%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0px;
  position: relative;
}

.app-flex-block .app-image .btn-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.app-flex-block .app-image .btn-video i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 70px;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.app-flex-block .app-image .btn-video:before {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-flex-block .app-image .btn-video:hover:before {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .app-flex-block .app-image {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .app-flex-block .app-image {
    height: 200px;
  }
}

.nav-tabs.app-center,
.nav-pills.app-center {
  text-align: center;
}

.nav-tabs.app-center > li,
.nav-pills.app-center > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 480px) {
  .nav-tabs.app-center > li,
  .nav-pills.app-center > li {
    width: 100%;
    display: block;
  }
}

.nav-tabs.app-tabs > li > a,
.nav-pills.app-tabs > li > a {
  border-radius: 0px;
  padding: 20px 30px;
  background: #49d292;
  color: #ffffff;
  font-size: 16px;
  border: none !important;
}

@media screen and (max-width: 480px) {
  .nav-tabs.app-tabs > li > a,
  .nav-pills.app-tabs > li > a {
    width: 100%;
    display: block;
  }
}

.nav-tabs.app-tabs > li > a:hover,
.nav-pills.app-tabs > li > a:hover {
  background: #35cd86;
}

.nav-tabs.app-tabs > li > a:active,
.nav-tabs.app-tabs > li > a:focus,
.nav-pills.app-tabs > li > a:active,
.nav-pills.app-tabs > li > a:focus {
  outline: none;
}

.nav-tabs.app-tabs > li.active > a,
.nav-pills.app-tabs > li.active > a {
  background: #ffffff;
  color: #000000;
}

.nav-tabs.app-tabs.no-border,
.nav-pills.app-tabs.no-border {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .app-tab-section {
    padding-bottom: 0 !important;
  }
}

.app-tab-style-1 {
  position: absolute;
  bottom: 1px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .app-tab-style-1 {
    position: relative;
  }
}

.app-date,
.app-location {
  display: block;
  color: #666666;
}

.app-date i,
.app-location i {
  color: #cccccc;
  position: relative;
  top: 2px;
  width: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.app-featured-news-box .app-media {
  position: relative;
  z-index: 1;
}

.app-featured-news-box .app-text {
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-right: 10px;
  top: -30px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-bottom: 3px solid #6a41ed;
}

.app-featured-news-box .app-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 22px;
}

.app-featured-news-box .app-text p {
  color: #666666;
}

.app-featured-news-box:hover,
.app-featured-news-box:focus {
  outline: none;
}

.app-featured-news-box:hover .app-text,
.app-featured-news-box:focus .app-text {
  background: #6a41ed;
  top: -40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.app-featured-news-box:hover .app-text h3,
.app-featured-news-box:focus .app-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.app-featured-news-box:hover .app-text p,
.app-featured-news-box:focus .app-text p {
  color: rgba(255, 255, 255, 0.7);
}

.app-featured-news-box:hover .app-text .app-date,
.app-featured-news-box:hover .app-text .app-location,
.app-featured-news-box:focus .app-text .app-date,
.app-featured-news-box:focus .app-text .app-location {
  color: rgba(255, 255, 255, 0.8);
}

.app-featured-news-box:hover .app-text .app-date i,
.app-featured-news-box:hover .app-text .app-location i,
.app-featured-news-box:focus .app-text .app-date i,
.app-featured-news-box:focus .app-text .app-location i {
  color: rgba(255, 255, 255, 0.4);
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.service .icon {
  display: block;
  margin-bottom: 30px;
}

.service .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  color: #49d292;
}

.service h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.service p {
  font-size: 15px;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon,
.service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 20px;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .text {
  display: table-cell;
}

.service.left-icon h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.hover_service {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.service.hover_service:hover,
.service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.app-service-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.app-service-2 .image {
  width: 40%;
}

.app-service-2 .text {
  width: 60%;
}

@media screen and (max-width: 480px) {
  .app-service-2 .image,
  .app-service-2 .text {
    width: 100%;
  }
}

.app-service-2 .image {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 480px) {
  .app-service-2 .image {
    width: 100%;
    height: 200px;
  }
}

.app-service-2 .image .image-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.app-service-2 .image .image-bg img {
  min-width: 100%;
  min-height: 100%;
}

.app-service-2 .text {
  padding: 20px;
}

.app-service-2 .text h3 {
  font-size: 20px;
  margin: 0;
}

.app-service-2 .text p {
  margin-bottom: 20px;
}

.app-service-2 .text p:last-child {
  margin-bottom: 0;
}

.app-service-2 .text .app-meta {
  font-size: 14px;
  color: #b3b2b2;
}

.enrolled-count {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #b3b2b2;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: italic;
}

.app-gallery {
  width: 100%;
  float: left;
}

.app-gallery figure {
  display: block;
  float: left;
  width: 32%;
  margin-right: 2%;
  float: left;
  margin-bottom: 20px;
}

.app-gallery figure:nth-of-type(3n + 3) {
  margin-right: 0;
}

.app-gallery figure figcaption {
  display: none;
}

.app-gallery img {
  width: 100%;
  height: auto;
}

.app-gallery.four-col figure {
  width: 23.5%;
  margin-right: 2%;
  float: left;
}

.app-gallery.four-col figure:nth-of-type(4n + 4) {
  margin-right: 0;
}

.app-gallery.three-col figure {
  width: 32%;
  margin-right: 2%;
  float: left;
}

.app-gallery.three-col figure:nth-of-type(3n + 3) {
  margin-right: 0;
}

.app-gallery.two-col figure {
  width: 49%;
  margin-right: 2%;
  float: left;
}

.app-gallery.two-col figure:nth-of-type(2n + 2) {
  margin-right: 0;
}

.grid-item {
  float: left;
}

.gutter-sizer {
  width: 2%;
}

.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.grid-item,
.grid-sizer {
  margin-bottom: 0;
}

.grid-item img,
.grid-sizer img {
  max-width: 100%;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.two-cols .grid-item,
.two-cols .grid-sizer {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .two-cols .grid-item,
  .two-cols .grid-sizer {
    width: 49%;
  }
}

@media screen and (max-width: 768px) and (max-width: 992px) {
  .two-cols .grid-item img,
  .two-cols .grid-sizer img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .two-cols .grid-item img,
  .two-cols .grid-sizer img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .two-cols .grid-item,
  .two-cols .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.three-cols .grid-item,
.three-cols .grid-sizer {
  width: 32%;
}

@media screen and (max-width: 768px) {
  .three-cols .grid-item,
  .three-cols .grid-sizer {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .three-cols .grid-item,
  .three-cols .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.four-cols .grid-item,
.four-cols .grid-sizer {
  width: 23.5%;
}

@media screen and (max-width: 768px) {
  .four-cols .grid-item,
  .four-cols .grid-sizer {
    width: 32%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .four-cols .grid-item,
  .four-cols .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.app-gallery-item {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.app-gallery-item img {
  max-width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.app-gallery-item a {
  display: block;
  float: left;
  width: 100%;
}

.app-gallery-item:hover img {
  opacity: 0.7;
}

.app-form {
  margin-bottom: 50px;
}

.app-form label {
  font-weight: normal;
}

.app-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-form .form-control:active,
.app-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #6a41ed;
}

.app-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.app-animate {
  opacity: 0;
  visibility: hidden;
}

.modal .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  font-size: 26px;
}

@media screen and (max-width: 480px) {
  .modal .modal-content .close {
    top: 20px;
    right: 20px;
  }
}

.modal .app-modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal .app-modal-flex .app-modal-figure {
  width: 40%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .modal .app-modal-flex .app-modal-figure {
    height: 200px;
  }
}

.modal .app-modal-flex .app-modal-content {
  width: 60%;
  padding: 40px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .modal .app-modal-flex .app-modal-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .modal .app-modal-flex .app-modal-figure,
  .modal .app-modal-flex .app-modal-content {
    width: 100%;
  }
}

.modal .app-modal-flex .form-control {
  height: 40px;
}

@media screen and (max-width: 480px) {
  .modal .app-modal-flex .btn {
    margin-bottom: 10px;
  }
}

.modal .app-modal-flex .app-remember {
  float: left;
}

.modal .app-modal-flex .app-forgot {
  float: right;
}

@media screen and (max-width: 480px) {
  .modal .app-modal-flex .app-forgot {
    float: left;
  }
}

.modal .app-modal-flex .form-group {
  position: relative;
}

.modal .app-modal-flex .app-or {
  padding: 10px 0;
  text-align: center;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.modal .app-modal-flex .app-or > span {
  display: block;
}

.modal .app-modal-flex .app-or > span:before {
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
  background: #ccc;
  width: 100%;
  content: "";
  position: absolute;
}

.modal .app-modal-flex .app-or em {
  color: #ccc;
  display: inline-block;
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding: 0 4px;
  font-style: normal;
}

.modal .app-modal-flex .btn-connect-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: #ffffff;
}

.modal .app-modal-flex .btn-connect-twitter {
  background: #1da1f2;
  border-color: #1da1f2;
  color: #ffffff;
}

.modal .app-modal-flex .btn-connect-google {
  background: #ea4335;
  border-color: #ea4335;
  color: #ffffff;
}

.modal .vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* This makes sure that we can still click outside of the modal to close it */
}

.modal .vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal .modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.app-contact-info {
  padding: 0;
  margin: 0 0 30px 0;
}

.app-contact-info li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
}

.app-contact-info li > i,
.app-contact-info li > span {
  vertical-align: top;
  display: table-cell;
}

.app-contact-info li > i {
  font-size: 20px;
  position: relative;
  top: 2px;
  width: 30px;
}

.app-team {
  margin-bottom: 30px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .app-team {
    overflow: visible;
  }
  .app-team img {
    max-width: 100%;
  }
}

.app-team img {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.app-team .app-team-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  text-align: center;
  margin-top: 20px;
  z-index: 3;
  display: block;
}

@media screen and (max-width: 480px) {
  .app-team .app-team-info {
    position: relative;
    top: inherit !important;
    margin-top: 0 !important;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.app-team .app-team-info h3 {
  color: white;
}

.app-team .app-team-info h3 .position {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 480px) {
  .app-team .app-team-info h3 {
    color: rgba(0, 0, 0, 0.7);
  }
  .app-team .app-team-info h3 .position {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.app-team:before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 1;
  border-radius: 5px;
}

.app-team:hover img,
.app-team:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.app-team:hover:before,
.app-team:focus:before {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .app-team:hover:before,
  .app-team:focus:before {
    display: none;
  }
}

.app-team:hover .app-team-info,
.app-team:focus .app-team-info {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.app-flex-section {
  padding: 7em 0;
}

.app-flex-section.app-bg-white {
  background: #ffffff;
}

.app-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.app-flex .app-flex-item {
  width: 33.3333%;
  padding: 40px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 1;
  position: relative;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .app-flex .app-flex-item {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .app-flex .app-flex-item {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.app-flex .app-flex-item .service {
  margin-bottom: 0;
}

.app-flex .app-flex-item p:last-child {
  margin-bottom: 0;
}

.app-flex .app-flex-item.active,
.app-flex .app-flex-item:hover,
.app-flex .app-flex-item:focus {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .app-flex .app-flex-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .app-flex .app-flex-item {
    width: 100%;
  }
}

.proboostrap-clients .client-logo {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .proboostrap-clients .client-logo {
    margin-bottom: 30px;
  }
}

.app-pricing-wrap {
  position: relative;
}

.app-pricing {
  background: #ffffff;
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
  margin-top: -200px;
}

@media screen and (max-width: 992px) {
  .app-pricing {
    margin-top: 0 !important;
    margin-bottom: 30px;
  }
}

.app-pricing.popular {
  z-index: 10;
  margin-top: -215px;
  padding-top: 40px;
}

@media screen and (max-width: 992px) {
  .app-pricing.popular {
    margin-top: 0 !important;
  }
}

.app-pricing h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}

.app-pricing h3 > span {
  margin-top: 10px;
  display: block;
  text-transform: none;
  letter-spacing: normal;
  color: #6a41ed;
  font-size: 14px;
}

.app-pricing .app-price-wrap {
  margin-bottom: 50px;
}

.app-pricing .app-price-wrap .app-price {
  font-size: 50px;
  color: #6a41ed;
  font-weight: 100;
  display: block;
  margin-bottom: 10px;
}

.app-pricing .app-price-wrap .app-price-per-month {
  font-size: 13px;
}

.app-pricing ul {
  padding: 0 30px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 480px) {
  .app-pricing ul {
    padding: 0 10px;
  }
}

.app-pricing ul li {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 24px;
  list-style: none;
}

.app-testimony-wrap {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

.app-testimony-wrap figure {
  margin-bottom: 20px;
}

.app-testimony-wrap figure img {
  height: 80px;
  width: 80px !important;
  margin: 0 auto;
  border-radius: 50%;
}

.app-testimony-wrap blockquote {
  border-left: none;
  padding: 0;
  margin-bottom: 0;
  color: #000000;
}

.app-testimony-wrap blockquote cite {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.app-testimony-wrap blockquote cite span {
  font-style: normal;
  color: #000000;
  font-weight: bold;
}

.owl-carousel-testimony .item {
  padding-bottom: 40px;
  padding-top: 20px;
}

.owl-carousel-testimony .app-testimony-wrap {
  max-width: 700px;
  margin: 0 auto;
}

/* Flexslider override style */
.slider-height,
.flexslider,
.flexslider .slides > li {
  height: 700px;
}

@media screen and (max-width: 480px) {
  .slider-height,
  .flexslider,
  .flexslider .slides > li {
    height: 400px;
  }
}

.flexslider {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
}

.flexslider .app-subheading {
  font-size: 20px;
}

.flexslider .app-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .app-slider-text {
    margin-top: 150px;
  }
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  padding: 30px;
}

.flexslider .flex-direction-nav a:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow
  .owl-controls
  .owl-nav
  .owl-next:hover
  i,
.owl-carousel-fullwidth.fh5co-light-arrow
  .owl-controls
  .owl-nav
  .owl-prev:hover
  i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.app-testimonial:before {
  background: rgba(0, 0, 0, 0.7) !important;
}

.app-testimonial .section-heading p {
  color: rgba(255, 255, 255, 0.9) !important;
}

.app-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.2);
}

.app-testimonial .owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.app-testimonial .owl-theme .owl-dots .owl-dot.active span,
.app-testimonial .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #ffffff;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #ddd;
}

.app-gutter0 > div[class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .app-gutter0 > div[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.app-gutter40 > div[class*="col-"] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .app-gutter40 > div[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.app-gutter60 > div[class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .app-gutter60 > div[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.pb0 {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}
